<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h1><strong>- PPSPM -</strong></h1>
                        </div>
                        <form id="loketPpk" method="POST" class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <input name="tiketId" type="hidden" value="{{data._id}}">
                                    <div class="form-group row">
                                        <label for="loketNamaUnit" class="col-md-2 col-form-label">Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketNamaUnit" id="loketNamaUnit" class="form-control" value="{{data.unit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKodeUnit" class="col-md-2 col-form-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit" class="form-control" value="{{data.kodeUnit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOperator" class="col-md-2 col-form-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator" class="form-control" value="{{data.operator}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketProgram" class="col ml-1 col-form-label">Program</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketProgram" id="loketProgram" class="form-select">
                                                {{#if data.kdprogram}}
                                                    <option value="{{data.kdprogram}}" selected>{{data.kdprogram}} {{data.uraianProgram}}</option>
                                                {{else}}
                                                    <option>Pilih Program</option>
                                                {{/if}}
                                                {{#each program}}
                                                    <option value="{{this.kdprogram}}">{{this.kdprogram}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKegiatan" class="col ml-1 col-form-label">Aktivitas</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketKegiatan" id="loketKegiatan" class="form-select">
                                                {{#if data.kdkegiatan}}
                                                    <option value="{{data.kdkegiatan}}" selected>{{data.kdkegiatan}} {{data.uraianKegiatan}}</option>
                                                {{else}}
                                                    <option>Pilih Aktivitas</option>
                                                {{/if}}
                                                {{#each kegiatan}}
                                                    <option value="{{this.kdgiat}}">{{this.kdgiat}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOutput" class="col ml-1 col-form-label">KRO</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketOutput" id="loketOutput" class="form-select">
                                                {{#if data.kdoutput}}
                                                    <option value="{{data.kdoutput}}" selected>{{data.kdoutput}} {{data.uraianOutput}}</option>
                                                {{else}}
                                                    <option>Pilih KRO</option>
                                                {{/if}}
                                                {{#each output}}
                                                    <option value="{{this.kdoutput}}">{{this.kdoutput}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKomponen" class="col ml-1 col-form-label">Komponen</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketKomponen" id="loketKomponen" class="form-select">
                                                {{#if data.kdkomponen}}
                                                    <option value="{{data.kdkomponen}}" selected>{{data.kdkomponen}} {{data.uraianKomponen}}</option>
                                                {{else}}
                                                    <option>Pilih Komponen</option>
                                                {{/if}}
                                                {{#each komponen}}
                                                    <option value="{{this.kdkmpnen}}">{{this.kdkmpnen}} {{this.urkmpnen}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAkun" class="col ml-1 col-form-label">Akun</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketAkun" id="loketAkun" class="form-select">
                                                {{#if data.kdakun}}
                                                    <option value="{{data.kdakun}}" selected>{{data.kdakun}} {{data.uraianAkun}}</option>
                                                {{else}}
                                                    <option>Pilih Akun</option>
                                                {{/if}}
                                                {{#each akun}}
                                                    <option value="{{this.kdakun}}">{{this.kdakun}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetailPok" class="col ml-1 col-form-label">Detail POK</label>
                                        <div class="col-md-10">
                                            <select name="loketDetailPok" id="loketDetailPok" class="form-select">
                                                {{#if data.uraianDetail}}
                                                    <option value="{{data.uraianDetail}}" selected>{{data.uraianDetail}}</option>
                                                {{else}}
                                                    <option>Pilih Detail</option>
                                                {{/if}}
                                                {{#each detail}}
                                                    <option value="{{this.nmitem}}">{{this.nmitem}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10" id="pokWarning"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketTglPelaksanaan" class="col ml-1 col-form-label">Tanggal Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketTglPelaksanaan" id="loketTglPelaksanaan" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetail" class="col ml-1 col-form-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control" value="{{data.detail}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilai" class="col ml-1 col-form-label">Nilai Bruto</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control" value="{{data.nilaiPengajuan}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">Unit</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPK</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPSPM</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjUnit" name="checklistSpjUnit" id="checklistSpjUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpk" name="checklistSpjPpk" id="checklistSpjPpk"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpspm" name="checklistSpjPpspm"
                                            id="checklistSpjPpspm">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirUnit" name="checklistDaftarHadirUnit"
                                            id="checklistDaftarHadirUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpk" name="checklistDaftarHadirPpk"
                                            id="checklistDaftarHadirPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpspm" name="checklistDaftarHadirPpspm"
                                            id="checklistDaftarHadirPpspm">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiUnit" name="checklistDokumentasiUnit"
                                            id="checklistDokumentasiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpk" name="checklistDokumentasiPpk"
                                            id="checklistDokumentasiPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpspm" name="checklistDokumentasiPpspm"
                                            id="checklistDokumentasiPpspm">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiUnit" name="checklistNotulensiUnit"
                                            id="checklistNotulensiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpk" name="checklistNotulensiPpk"
                                            id="checklistNotulensiPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpspm" name="checklistNotulensiPpspm"
                                            id="checklistNotulensiPpspm">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvUnit" name="checklistCvUnit" id="checklistCvUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpk" name="checklistCvPpk" id="checklistCvPpk"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpspm" name="checklistCvPpspm" id="checklistCvPpspm">
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAdkSpj" class="col-md-2 col-form-label">ADK SPJ</label>
                                        <div class="col">
                                            <p id="loketAdkSpj">{{data.fileSpj}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketSpp" class="col-md-2 col-form-label">SPP</label>
                                        <div class="col">
                                            <input type="text" value="{{data.spp}}" class="form-control" disabled>
                                            {{!-- <select name="loketSpp" id="loketSpp" form="form-select" disabled>
                                                <option selected></option>
                                                <option value="sudah">Sudah</option>
                                            </select> --}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpk" class="col-md-2 col-form-label mt-1">Catatan PPK</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpk" id="loketCatatanPpk" class="form-control" disabled>{{data.catatan.ppk}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpspm" class="col-md-2 col-form-label mt-1">Catatan PPSPM</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpspm" id="loketCatatanPpspm" class="form-control" placeholder="Jika tidak ada catatan, isian ini dapat dikosongkan">{{data.catatan.ppspm}}</textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="tolakFormPpspm" type="submit" class="btn btn-danger">Tolak</button>
                                        <button id="kirimFormPpspmReviewer" type="submit" class="btn btn-success">Kirim<br><small>(Reviewer)</small></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- iterasi select pok --}}
<script src="/js/LoketFormPok.js"></script>

{{!-- main script --}}
<script type="text/javascript">
    //socket = io.connect($(location).attr('host'));
    //var socket = io();

    //untuk hak akses
    //var user_aktiv = '{{username}}';

    $(document).ready(function () {

        //autofill form
        var t1 = new Date("{{data.tanggal.pelaksanaan}}")
        var t2 = formatTanggal(t1)
        $('#loketTglPelaksanaan').val(t2)

        var spj = [{{data.checklist.spj}}]
        var hadir = [{{data.checklist.daftarHadir}}]
        var dok = [{{data.checklist.dokumentasi}}]
        var not = [{{data.checklist.notulensi}}]
        var cv = [{{data.checklist.cvNarasumber}}]
        
        if (spj[0]) $('#checklistSpjUnit').attr("checked", true)
        if (hadir[0]) $('#checklistDaftarHadirUnit').attr("checked", true)
        if (dok[0]) $('#checklistDokumentasiUnit').attr("checked", true)
        if (not[0]) $('#checklistNotulensiUnit').attr("checked", true)
        if (cv[0]) $('#checklistCvUnit').attr("checked", true)
        if (spj[1]) $('#checklistSpjPpk').attr("checked", true)
        if (hadir[1]) $('#checklistDaftarHadirPpk').attr("checked", true)
        if (dok[1]) $('#checklistDokumentasiPpk').attr("checked", true)
        if (not[1]) $('#checklistNotulensiPpk').attr("checked", true)
        if (cv[1]) $('#checklistCvPpk').attr("checked", true)
        if (spj[2]) $('#checklistSpjPpspm').attr("checked", true)
        if (hadir[2]) $('#checklistDaftarHadirPpspm').attr("checked", true)
        if (dok[2]) $('#checklistDokumentasiPpspm').attr("checked", true)
        if (not[2]) $('#checklistNotulensiPpspm').attr("checked", true)
        if (cv[2]) $('#checklistCvPpspm').attr("checked", true)

        $('#loketProgram').focus()

        //validasi isian
        $('#tolakFormPpspm').click(function (e) {
            e.preventDefault()
            $('form').attr('action', 'loket/ppspmTolak')
            let va = confirm('Anda yakin?')
            if(va) {
                if (!$('#loketCatatanPpspm').val() || $('#loketCatatanPpspm').val() == '-') {
                    generalAlert('Catatan harus diisi ketika tiket ditolak')
                    $('#loketCatatanPpspm').focus()
                } else {
                    generalAlert('Tiket akan Dikembalikan ke Unit dan Redirect ke dashboard dalam 5 detik')
                    setTimeout( function () { 
                        $('form').submit()
                    }, 5000)
                }
            }
        })

        $('#kirimFormPpspmReviewer').click(function (e) {
            e.preventDefault()
            $('form').attr('action', 'loket/ppspmKirimReviewer')
            if ($('#loketProgram').val()=="Pilih Program"){
                generalAlert("Silahkan pilih program")
                $('#loketProgram').focus()
            } else if ($('#loketKegiatan').val()=="Pilih Kegiatan"){
                generalAlert("Silahkan pilih kegiatan")
                $('#loketKegiatan').focus()
            } else if ($('#loketOutput').val()=="Pilih Output"){
                generalAlert("Silahkan pilih output")
                $('#loketOutput').focus()
            } else if ($('#loketKomponen').val()=="Pilih Komponen"){
                generalAlert("Silahkan pilih komponen")
                $('#loketKomponen').focus()
            } else if ($('#loketAkun').val()=="Pilih Akun"){
                generalAlert("Silahkan pilih akun")
                $('#loketAkun').focus()
            } else if ($('#loketDetailPok').val()=="Pilih Detail"){
                generalAlert("Silahkan pilih detail")
                $('#loketDetailPok').focus()
            } else {
                generalAlert("Tiket akan diteruskan ke Reviewer dan Redirect ke dashboard dalam 5 detik")
                setTimeout( function () { 
                    $('form').submit()
                }, 5000)
            }
        })

    });

</script>