<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h1><strong>- PPK -</strong></h1>
                        </div>
                        <form id="loketForm" method="POST" class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <input name="tiketId" type="hidden" value="{{data._id}}">
                                    <div class="form-group row">
                                        <label for="loketNamaUnit" class="col-md-2 col-form-label">Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketNamaUnit" id="loketNamaUnit" class="form-control" value="{{data.unit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKodeUnit" class="col-md-2 col-form-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit" class="form-control" value="{{data.kodeUnit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOperator" class="col-md-2 col-form-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator" class="form-control" value="{{data.operator}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketProgram" class="col ml-1 col-form-label">Program</label>
                                        <div class="col-md-10">
                                            <select name="loketProgram" id="loketProgram" class="form-select">
                                                <option>Pilih Program</option>
                                                {{#each program}}
                                                    <option value="{{this.kdprogram}}">{{this.kdprogram}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKegiatan" class="col ml-1 col-form-label">Kegiatan</label>
                                        <div class="col-md-10">
                                            <select name="loketKegiatan" id="loketKegiatan" class="form-select">
                                                <option>Pilih Kegiatan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOutput" class="col ml-1 col-form-label">Output</label>
                                        <div class="col-md-10">
                                            <select name="loketOutput" id="loketOutput" class="form-select">
                                                <option>Pilih Output</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKomponen" class="col ml-1 col-form-label">Komponen</label>
                                        <div class="col-md-10">
                                            <select name="loketKomponen" id="loketKomponen" class="form-select">
                                                <option>Pilih Komponen</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAkun" class="col ml-1 col-form-label">Akun</label>
                                        <div class="col-md-10">
                                            <select name="loketAkun" id="loketAkun" class="form-select">
                                                <option>Pilih Akun</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetailPok" class="col ml-1 col-form-label">Detail POK</label>
                                        <div class="col-md-10">
                                            <select name="loketDetailPok" id="loketDetailPok" class="form-select">
                                                <option>Pilih Detail</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10" id="pokWarning"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketTglPelaksanaan" class="col ml-1 col-form-label">Tanggal Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketTglPelaksanaan" id="loketTglPelaksanaan" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetail" class="col ml-1 col-form-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control" value="{{data.detail}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilai" class="col ml-1 col-form-label">Nilai</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control" value="{{data.nilaiPengajuan}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">Unit</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPK</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjUnit" name="checklistSpjUnit" id="checklistSpjUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpk" name="checklistSpjPpk" id="checklistSpjPpk">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirUnit" name="checklistDaftarHadirUnit"
                                            id="checklistDaftarHadirUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpk" name="checklistDaftarHadirPpk"
                                            id="checklistDaftarHadirPpk">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiUnit" name="checklistDokumentasiUnit"
                                            id="checklistDokumentasiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpk" name="checklistDokumentasiPpk"
                                            id="checklistDokumentasiPpk">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiUnit" name="checklistNotulensiUnit"
                                            id="checklistNotulensiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpk" name="checklistNotulensiPpk"
                                            id="checklistNotulensiPpk">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvUnit" name="checklistCvUnit" id="checklistCvUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpk" name="checklistCvPpk" id="checklistCvPpk">
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAdkSpj" class="col-md-2 col-form-label">ADK SPJ</label>
                                        <div class="col">
                                            <p id="loketAdkSpj">{{data.fileSpj}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketSpp" class="col-md-2 col-form-label">SPP</label>
                                        <div class="col">
                                            <select name="loketSpp" id="loketSpp" class="form-select">
                                                <option></option>
                                                <option value="Belum">Belum</option>
                                                <option value="Sudah">Sudah</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpk" class="col-md-2 col-form-label mt-1">Catatan PPK</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpk" id="loketCatatanPpk" class="form-control" placeholder="Jika tidak ada catatan, isian ini dapat dikosongkan"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="tolakFormPpk" type="submit" formaction="loket/ppkTolak" class="btn btn-danger">Tolak</button>
                                        <button id="kirimFormPpk" type="submit" formaction="loket/ppkKirim" class="btn btn-success">Kirim</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- autofill form --}}
<script id="tglPelaksanaan" type="text/x-handlebars-template">
    {{data.tanggal.pelaksanaan}}
</script>

{{!-- iterasi select pok --}}
<script src="/js/LoketFormPok.js"></script>

{{!-- main script --}}
<script type="text/javascript">
    //socket = io.connect($(location).attr('host'));

    //untuk hak akses
    //var user_aktiv = '{{username}}';

    //Handlebars.registerHelper("json", function(obj) {
    //    return JSON.stringify(obj)
    //});

    $(document).ready(function () {

        //autofill form
        var t1 = new Date($("#tglPelaksanaan").html())
        var t2 = formatTanggal(t1)
        $("#loketTglPelaksanaan").val(t2)

        var spj = [{{data.checklist.spj}}]
        var hadir = [{{data.checklist.daftarHadir}}]
        var dok = [{{data.checklist.dokumentasi}}]
        var not = [{{data.checklist.notulensi}}]
        var cv = [{{data.checklist.cvNarasumber}}]
        
        if (spj[0]) $("#checklistSpjUnit").attr("checked", true)
        if (hadir[0]) $("#checklistDaftarHadirUnit").attr("checked", true)
        if (dok[0]) $("#checklistDokumentasiUnit").attr("checked", true)
        if (not[0]) $("#checklistNotulensiUnit").attr("checked", true)
        if (cv[0]) $("#checklistCvUnit").attr("checked", true)

        $("#loketProgram").focus()

        //validasi isian
        $('#tolakFormPpk').click(function(e) {
            let va = confirm('Anda yakin?')
            if(va) {
                if (!$("#loketCatatanPpk").val() || $("#loketCatatanPpspm").val() == '-') {
                    alert('Catatan harus diisi ketika tiket ditolak')
                    e.preventDefault()
                    $("#loketCatatanPpk").focus()
                } else { alert("Tiket telah Ditolak")}
            } else e.preventDefault()
        })
        
        $('#kirimFormPpk').click(function (e) {
            if ($('#loketProgram').val()=="Pilih Program"){
                e.preventDefault()
                $('#loketProgram').focus()
            } else if ($('#loketKegiatan').val()=="Pilih Kegiatan"){
                e.preventDefault()
                $('#loketKegiatan').focus()
            } else if ($('#loketOutput').val()=="Pilih Output"){
                e.preventDefault()
                $('#loketOutput').focus()
            } else if ($('#loketKomponen').val()=="Pilih Komponen"){
                e.preventDefault()
                $('#loketKomponen').focus()
            } else if ($('#loketAkun').val()=="Pilih Akun"){
                e.preventDefault()
                $('#loketAkun').focus()
            } else if ($('#loketDetailPok').val()=="Pilih Detail"){
                e.preventDefault()
                $('#loketDetailPok').focus()
            } else if (!$("#loketSpp").val()) {
                e.preventDefault()
                $("#loketSpp").focus()
            } else if ($("#loketSpp").val()=='Belum') {
                alert("Tiket telah diteruskan ke Bendahara")
            } else {alert("Tiket telah diteruskan ke PPSPM")}
        })
    });

</script>