<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- table transaksi selesai --}}
                        <div class="row col">
                            <h5>I. TRANSAKSI SELESAI</h5>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div id="navSelesai"><ul class="pagination"></ul></div>
                            </div>
                            <div class="col">
                                <table class="borderless">
                                    <tbody>
                                        <td>Cari: </td>
                                        <td><input type="text" class="form-control" onkeyup="cariTiket1()" id="cariPengajuan1" placeholder="metode transfer, deskripsi"></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <table id="tableSelesai" class="table table-bordered table-striped"
                            width="100%">
                            <thead>
                                <tr>
                                    <th width="1%">No</th>
                                    <th width="10%">Nomor Transaksi</th>
                                    <th width="15%">Tanggal Selesai</th>
                                    <th width="15%">Tanggal Pembayaran</th>
                                    <th width="6%">Nilai Pengajuan</th>
                                    <th width="6%">Pajak</th>
                                    <th width="6%">Nilai Pembayaran</th>
                                    <th width="6%">Metode Pembayaran</th>
                                    <th width="20%">Deskripsi</th>
                                    <th width="10%">Cek Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                                {{#unless daftarSelesai}}
                                    <p class="text-center">Belum terdapat pengajuan yang selesai</p>
                                {{/unless}}
                        {{!-- table pengajuan --}}
                        <div class="row col">
                            <h5>II. PENGAJUAN</h5>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <div id="navPengajuan"><ul class="pagination"></ul></div>
                            </div>
                            <div class="col">
                                <table class="borderless">
                                    <tbody>
                                        <td>Cari: </td>
                                        <td><input type="text" class="form-control" onkeyup="cariTiket2()" id="cariPengajuan2" placeholder="kode unit, deskripsi, posisi"></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <table id="tablePengajuan" class="table table-bordered table-striped"
                            width="100%">
                            <thead>
                                <tr>
                                    <th width="1%">No</th>
                                    <th width="4%">Kode Unit</th>
                                    <th width="10%">Nomor Transaksi</th>
                                    <th width="15%">Tanggal Pengajuan</th>
                                    <th width="6%">Nilai Pengajuan</th>
                                    <th width="20%">Deskripsi</th>
                                    <th width="7%">Posisi</th>
                                    <th width="7%">Status</th>
                                    <th width="20%">Catatan</th>
                                    <th width="10%">Cek Akun</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                                {{#unless daftarPengajuan}}
                                    <p class="text-center">Belum terdapat pengajuan</p>
                                {{/unless}}
                        {{!-- realisasi --}}
                        <div class="row col">
                            <h5 class="row col-12">III. REALISASI</h5><br>
                            <h6 class="row col-12">a. Realisasi per unit</h6><br>
                            <h6 class="row col-12">b. Total realisasi</h6>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetail" id="">Test Modal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- --------------------------- MODAL ------------------------------ --}}

<div class="modal fade" id="modalDetail" role="dialog" data-backdrop="static"
    aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1ecbe1;">
                <h5 class="modal-title row ml-2" id="">Detail tiket</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row" id="modalDetailTiket">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>




{{!-- --------------------------- SCRIPT ------------------------------ --}}

<script id="daftarSelesai" type="text/x-handlebars-template">
    {{#each daftarSelesai}}
        <tr id="{{this._id}}">
            <td style="text-align:center"></td>
            <td style="text-align:center">{{this.nomorTransaksi}}</td>
            <td style="text-align:center">{{this.tanggal.selesai}}</td>
            <td style="text-align:center">{{this.tanggal.transfer}}</td>
            <td class="format-uang">{{this.nilaiPengajuan}}</td>
            <td class="format-uang">{{this.nilaiPajak}}</td>
            <td class="format-uang">{{this.nilaiTransfer}}</td>
            <td style="text-align:center">{{this.metodeTransfer}}</td>
            <td>{{this.detail}}</td>
            <td style="text-align:center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetail" id="btnDetailTiket">Lihat Detail</button>
                {{!-- <form action="/loket/downloadSpjTiketBank" method="post">
                    <input type="hidden" name="tiketId" value="">
                    <button type="submit" class="btn btn-success" id="downloadSpjTiket">Download <br>yang disahkan</button>
                </form> --}}
            </td>
        </tr>
    {{/each}}
</script>
<script id="daftarPengajuan" type="text/x-handlebars-template">
    {{#each daftarPengajuan}}  
        <tr id="{{this._id}}">
            <td style="text-align:center"></td>
            <td style="text-align:center">{{this.kodeUnit}}</td>
            <td style="text-align:center">{{this.nomorTransaksi}}</td>
            <td style="text-align:center">{{this.tanggal.pengajuan}}</td>
            <td class="format-uang">{{this.nilaiPengajuan}}</td>
            <td>{{this.detail}}</td>
            <td style="text-align:center">{{this.posisi}}</td>
            <td style="text-align:center">{{this.status}}</td>
            <td>
                {{#if_eq this.status 'Belum selesai'}}
                    {{#if_eq this.posisi 'Verifikator'}}
                    {{else}}
                        {{#if_eq this.posisi 'PPK'}}
                        {{else}}
                            {{#if_eq this.posisi 'PPSPM'}}
                                PPK : {{this.catatan.ppk}}    
                            {{else}}
                                {{#if_eq this.posisi 'Reviewer'}}
                                    PPK : {{this.catatan.ppk}}<br>
                                    PPSPM : {{this.catatan.ppspm}}        
                                {{else}}
                                    PPK : {{this.catatan.ppk}}<br>
                                    PPSPM : {{this.catatan.ppspm}}<br>
                                    Reviewer : {{this.catatan.reviewer}}
                                {{/if_eq}}
                            {{/if_eq}}
                        {{/if_eq}}
                    {{/if_eq}}
                {{else}}                    
                    {{#if_eq this.posisi 'PPK'}}
                        PPK: {{this.catatan.ppk}}    
                    {{else}}
                        {{#if_eq this.posisi 'PPSPM'}}
                        PPK: {{this.catatan.ppk}}<br>
                        PPSPM: {{this.catatan.ppspm}}
                        {{else}}
                            {{#if_eq this.posisi 'Reviewer'}}
                                PPK: {{this.catatan.ppk}}<br>
                                PPSPM: {{this.catatan.ppspm}}<br>
                                Reviewer: {{this.catatan.reviewer}}
                            {{/if_eq}}
                        {{/if_eq}}
                    {{/if_eq}}
                {{/if_eq}}
            </td>
            <td style="text-align:center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetail" id="btnDetailTiket">Lihat Detail</button>
                {{#if_eq this.posisi 'Verifikator'}}
                    {{#if_eq ../jabatan '3'}}
                        <form action="/loket/unitEdit" method="POST">
                            <input type="text" name="tiketId" value="{{this._id}}" hidden>
                            <button type="sumbit" class="btn btn-warning icon-pencil" id="editTiketButton"></button>
                            <button type="button" class="btn btn-danger icon-trash" id="hapusTiketButton"></button>
                        </form>
                    {{else}}
                        {{#if_eq ../admin "1"}}
                            <form action="/loket/unitEdit" method="POST">
                                <input type="text" name="tiketId" value="{{this._id}}" hidden>
                                <button type="sumbit" class="btn btn-warning icon-pencil" id="editTiketButton"></button>
                                <button type="button" class="btn btn-danger icon-trash" id="hapusTiketButton"></button>
                            </form>
                        {{/if_eq}}
                    {{/if_eq}}
                {{/if_eq}}
            </td>
        </tr>
    {{/each}}
</script>

<script type="text/javascript">
    var socket = io.connect($(location).attr('host'));
    //var socket = io();
    
    //untuk hak akses
    // var user_aktiv = '{{username}}';

    $(document).ready(function () {
        console.log("{{role}}")

        //reset modal
        $(".modal").on("hidden.bs.modal", function() {
            $(".modal-body").html('')
            $(".modal-footer").html('<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>');
        });

        //iterasi tabel selesai dan pengjuan
        var dPengajuan = $("#daftarPengajuan").html()
        $("#tablePengajuan tbody").html(dPengajuan)
        var dSelesai = $("#daftarSelesai").html()
        $("#tableSelesai tbody").html(dSelesai)

        //iterasi nomor row dan tanggal
        $("#tableSelesai tr").each(function(index){
            $(this).find("td:eq(0)").each(function(){
                $(this).text(index)
                //console.log($(this).text())
            })
            $(this).find("td:eq(2)").each(function(){
                $(this).text(formatTanggal(new Date($(this).text())))
            })
            $(this).find("td:eq(3)").each(function(){
                $(this).text(formatTanggal(new Date($(this).text())))
            })
        })
        $("#tablePengajuan tr").each(function(index){
            $(this).find("td:eq(0)").each(function(){
                $(this).text(index)
                //console.log($(this).text())
            })
            $(this).find("td:eq(3)").each(function(){
                $(this).text(formatTanggal(new Date($(this).text())))
            })
        })

        //pagination
        var rowsShown = 10;
        //pagination selesai
        var rownSelesai = $('#tableSelesai tbody tr').length;
        var pageSelesai = Math.ceil(rownSelesai/rowsShown);
        var last = pageSelesai-1
        $("#navSelesai ul").append(
            '<li class="page-item">'+
                '<a class="page-link" href="#" rel="0">First</a>'+
            '</li>'
        )
        for(i = 0;i < pageSelesai;i++) {
            if (i < 3){
                var pageNum = i + 1;
                $("#navSelesai ul").append('<li class="page-item"><a class="page-link" href="#" rel="'+i+'">'+pageNum+'</a></li>')
            } else {break}
        }
        $("#navSelesai ul").append(
            '<li class="page-item">'+
                '<a class="page-link" href="#" rel="'+last+'">Last</a>'+
            '</li>'
        )
        $('#tableSelesai tbody tr').hide();
        $('#tableSelesai tbody tr').slice(0, rowsShown).show();
        $('#navSelesai a:first').addClass('active');
        $('#navSelesai a').bind('click', function(){
            $('#navSelesai a').removeClass('active');
            $(this).addClass('active');
            var currPage = parseInt($(this).attr('rel'));
            var pages = [currPage-2, currPage-1, currPage, currPage+1, currPage+2, currPage+3]
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#tableSelesai tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).css('display','table-row').animate({opacity:1}, 300)
            if (pages[1]==-1 && pageSelesai>3){
                $("#navSelesai ul li:eq(1) a").attr('rel', pages[2]).text(pages[3]).addClass('active')
                $("#navSelesai ul li:eq(2) a").attr('rel', pages[3]).text(pages[4])
                $("#navSelesai ul li:eq(3) a").attr('rel', pages[4]).text(pages[5])
            } else if (pages[3]==pageSelesai && pageSelesai>3) {
                $("#navSelesai ul li:eq(1) a").attr('rel', pages[0]).text(pages[1])
                $("#navSelesai ul li:eq(2) a").attr('rel', pages[1]).text(pages[2])
                $("#navSelesai ul li:eq(3) a").attr('rel', pages[2]).text(pages[3]).addClass('active')
            } else if(pageSelesai>3) {
                $("#navSelesai ul li:eq(1) a").attr('rel', pages[1]).text(pages[2])
                $("#navSelesai ul li:eq(2) a").attr('rel', pages[2]).text(pages[3]).addClass('active')
                $("#navSelesai ul li:eq(3) a").attr('rel', pages[3]).text(pages[4])
            }
        });
        //pagination pengajuan
        var rownPengajuan = $('#tablePengajuan tbody tr').length;
        var pagePengajuan = Math.ceil(rownPengajuan/rowsShown);
        var last = pagePengajuan-1 //rel
        $("#navPengajuan ul").append(
            '<li class="page-item">'+
                '<a class="page-link" href="#" rel="0">First</a>'+
            '</li>'
        )
        for(i = 0;i < pagePengajuan;i++) {
            if (i < 3) {
                var pageNum = i + 1;
                $("#navPengajuan ul").append('<li class="page-item"><a class="page-link" href="#" rel="'+i+'">'+pageNum+'</a></li>')
            } else {break}
        }
        $("#navPengajuan ul").append(
            '<li class="page-item">'+
                '<a class="page-link" href="#" rel="'+last+'">Last</a>'+
            '</li>'
        )
        $('#tablePengajuan tbody tr').hide();
        $('#tablePengajuan tbody tr').slice(0, rowsShown).show();
        $('#navPengajuan a:first').addClass('active');
        $('#navPengajuan a').bind('click', function(){
            $('#navPengajuan a').removeClass('active');
            $(this).addClass('active');
            var currPage = parseInt($(this).attr('rel'));
            var pages = [currPage-2, currPage-1, currPage, currPage+1, currPage+2, currPage+3]
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#tablePengajuan tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).css('display','table-row').animate({opacity:1}, 300)
            if (pages[1]==-1 && pagePengajuan>3){
                $("#navPengajuan ul li:eq(1) a").attr('rel', pages[2]).text(pages[3]).addClass('active')
                $("#navPengajuan ul li:eq(2) a").attr('rel', pages[3]).text(pages[4])
                $("#navPengajuan ul li:eq(3) a").attr('rel', pages[4]).text(pages[5])
            } else if (pages[3]==pagePengajuan && pagePengajuan>3) {
                $("#navPengajuan ul li:eq(1) a").attr('rel', pages[0]).text(pages[1])
                $("#navPengajuan ul li:eq(2) a").attr('rel', pages[1]).text(pages[2])
                $("#navPengajuan ul li:eq(3) a").attr('rel', pages[2]).text(pages[3]).addClass('active')
            } else if(pagePengajuan>3) {
                $("#navPengajuan ul li:eq(1) a").attr('rel', pages[1]).text(pages[2])
                $("#navPengajuan ul li:eq(2) a").attr('rel', pages[2]).text(pages[3]).addClass('active')
                $("#navPengajuan ul li:eq(3) a").attr('rel', pages[3]).text(pages[4])
            }
        });

        //lihat detail row terpilih :button
        var tableBtnDetail = $("table #btnDetailTiket")
        tableBtnDetail.click(function () {
            var id = $(this).closest('tr').attr('id')
            //console.log('idtiket:' + id)
            //console.log('idbutton: ' + this.id)
            socket.emit('mintaDetailTiket', id)
        })

        socket.on('terimaDetailTiket', function (detail) {

            //ambil nilai di checklist
            var check = []
            if (detail.posisi == 'PPK' || 'Verifikator') {
                for (key in detail.checklist) {
                    if (detail.checklist.hasOwnProperty(key)) {
                        var value = detail.checklist[key];
                        if (value[0] == true) {
                            var l = ' '+key
                            check.push(l)
                        }
                    }
                }
            } else if (detail.posisi == 'PPSPM') {
                for (key in detail.checklist) {
                    if (detail.checklist.hasOwnProperty(key)) {
                        var value = detail.checklist[key];
                        if (value[0] == true && value[1] == true) {
                            var l = ' '+key
                            check.push(l)
                        }
                    }
                }
            } else {
                for (key in detail.checklist) {
                    if (detail.checklist.hasOwnProperty(key)) {
                        var value = detail.checklist[key];
                        if (value[0] == true && value[1] == true && value[2] == true) {
                            var l = ' '+key
                            check.push(l)
                        }
                    }
                }
            }

            //ambil nilai di catatan
            var catat = []
            for (key in detail.catatan) {
                if (detail.catatan.hasOwnProperty(key)) {
                    var value = detail.catatan[key];
                    catat.push(value)
                }
            }

            //isi modal-body
            var templatePengajuan =
                '<table class="col-11 tableTiket table-borderless table-striped">'+
                    '<tr>'+
                        '<th class="col-2">Unit</th>'+
                        '<td colspan="2" class="col-10">'+detail.unit+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Kode Unit</th>'+
                        '<td colspan="2">'+detail.kodeUnit+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Operator</th>'+
                        '<td colspan="2">'+detail.operator+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">POK</th>'+
                        '<td colspan="2"></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">Program</th>'+
                        '<td colspan="2">'+detail.kdprogram+' '+detail.uraianProgram+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">Aktivitas</th>'+
                        '<td colspan="2">'+detail.kdkegiatan+' '+detail.uraianKegiatan+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">KRO</th>'+
                        '<td colspan="2">'+detail.kdoutput+' '+detail.uraianOutput+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">Komponen</th>'+
                        '<td colspan="2">'+detail.kdkomponen+' '+detail.uraianKomponen+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">Akun</th>'+
                        '<td colspan="2">'+detail.kdakun+' '+detail.uraianAkun+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">Detail POK</th>'+
                        '<td colspan="2">'+detail.uraianDetail+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Tanggal Pelaksanaan</th>'+
                        '<td colspan="2">'+formatTanggal(detail.tanggal.pelaksanaan)+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Detail SPJ</th>'+
                        '<td colspan="2">'+detail.detail+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Nilai Bruto</th>'+
                        '<td colspan="2">Rp '+formatUang(detail.nilaiPengajuan)+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Checklist</th>'+
                        '<td colspan="2">'+check+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">File SPJ</th>'+
                        '<td>'+detail.fileSpj+'</td>'+
                        '<td width="20%"><form action="/loket/downloadSpjTiket" method="post">' +
                            '<input type="hidden" name="tiketId" value="' + detail._id + '">' +
                            '<button type="submit" class="btn btn-primary" id="downloadSpjTiket">Download SPJ</button>' +
                        '</form></td>' +
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">SPP</th>'+
                        '<td colspan="2">'+detail.spp+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Catatan</th>'+
                        '<td colspan="2"></td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">PPK</th>'+
                        '<td colspan="2">'+catat[0]+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">PPSPM</th>'+
                        '<td colspan="2">'+catat[1]+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2" style="padding-left:5%">Reviewer</th>'+
                        '<td colspan="2">'+catat[2]+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Metode Transfer</th>'+
                        '<td colspan="2">'+detail.metodeTransfer+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Nilai Pajak</th>'+
                        '<td colspan="2">Rp '+formatUang(detail.nilaiPajak)+'</td>'+
                    '</tr>'+
                    '<tr>'+
                        '<th class="col-2">Nilai Transfer</th>'+
                        '<td colspan="2">Rp '+formatUang(detail.nilaiTransfer)+'</td>'+
                    '</tr>'+
                '</table>'

            $('#modalDetailTiket').html(templatePengajuan)

            //tombol periksa pada modal
            if (!document.getElementById("periksaTiketVerifikator") && detail.posisi == "Verifikator" && detail.status == 'Belum selesai'){
                $(".modal-footer").append(
                    '<form action="/loket/verifikator" method="post">' +
                        '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
                        '<button type="submit" class="btn btn-primary" id="periksaTiketVerifikator">Periksa Tiket Verifikator</button>'+
                    '</form>')
                $('#periksaTiketVerifikator').click(function (e) {
                    cekUser(e, "11", "Verifikator", $('#periksaTiketVerifikator'))
                })
            } else if (!document.getElementById("periksaTiketPpk") && detail.posisi == "PPK" && detail.status == 'Belum selesai'){
                $(".modal-footer").append(
                    '<form action="/loket/ppk" method="post">' +
                        '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
                        '<button type="submit" class="btn btn-primary" id="periksaTiketPpk">Periksa Tiket PPK</button>' +
                    '</form>')
                $('#periksaTiketPpk').click(function (e) {
                    cekUser(e, "12", "PPK", $('#periksaTiketPpk'))
                })
            } else if (!document.getElementById("periksaTiketPpspm") && detail.posisi == "PPSPM" && detail.status == 'Belum selesai'){
                $(".modal-footer").append(
                    '<form action="/loket/ppspm" method="post">' +
                        '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
                        '<button type="submit" class="btn btn-primary" id="periksaTiketPpspm")">Periksa Tiket PPSPM</button>' +
                    '</form>')
                $('#periksaTiketPpspm').click(function (e) {
                    cekUser(e, "13", "PPSPM", $('#periksaTiketPpspm'))
                })
            } else if (!document.getElementById("periksaTiketReviewer") && detail.posisi == "Reviewer" && detail.status == 'Belum selesai'){
                $(".modal-footer").append(
                    '<form action="/loket/reviewer" method="post">' +
                        '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
                        '<button type="submit" class="btn btn-primary" id="periksaTiketReviewer">Periksa Tiket Reviewer</button>' +
                    '</form>')
                $('#periksaTiketReviewer').click(function (e) {
                    cekUser(e, "14", "Reviewer", $('#periksaTiketReviewer'))
                })
            } else if (!document.getElementById("periksaTiketBendahara") && detail.posisi == "Bendahara" && detail.status == 'Belum selesai'){
                $(".modal-footer").append(
                    '<form action="/loket/bendahara" method="post">' +
                        '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
                        '<button type="submit" class="btn btn-primary" id="periksaTiketBendahara">Periksa Tiket Bendahara</button>' +
                    '</form>')
                $('#periksaTiketBendahara').click(function (e) {
                    cekUser(e, "15", "Bendahara", $('#periksaTiketBendahara'))
                })
            } else if (!document.getElementById("periksaTiketBank") && detail.posisi == "Operator Bank" && detail.status == 'Belum selesai'){
                $(".modal-footer").append(
                    '<form action="/loket/bank" method="post">' +
                        '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
                        '<button type="submit" class="btn btn-primary" id="periksaTiketBank">Periksa Tiket Operator Bank</button>' +
                    '</form>')
                $('#periksaTiketBank').click(function (e) {
                    cekUser(e, "16", "Operator Bank", $('#periksaTiketBank'))
                })
            }

            //tombol bendahara
            //if (!document.getElementById("kirimArsiparis") && !document.getElementById("inputRealisasi") && !document.getElementById("inputPajak") && detail.posisi == "Operator Bank" && ("{{role}}" == "5" || "{{admin}}" == "1")){
            //    $(".modal-footer").append(
            //        '<form action="/loket/bendaharaKirimArsiparis" method="post">' +
            //            '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
            //            '<button type="button" class="btn btn-primary" id="kirimArsiparis">Kirim Arsiparis</button>' +
            //        '</form>' +
            //        '<form action="/loket/bendaharaKirimBmn" method="post">' +
            //           '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
            //            '<button type="button" class="btn btn-primary" id="kirimBmn" hidden>Kirim Opr BMN</button>' +
            //        '</form>' +
            //        '<form action="/loket/bendaharaInputRealisasi" method="post">' +
            //            '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
            //            '<button type="button" class="btn btn-warning" id="inputRealisasi">Input Realisasi</button>' +
            //        '</form>' +
            //        '<form action="/loket/bendaharaInputPajak" method="post">' +
            //            '<input type="hidden" name="tiketId" value="' + detail._id + '" />' +
            //            '<button type="button" class="btn btn-warning" id="inputPajak">Input Pajak</button>' +
            //        '</form>'
            //    )
            //    $('#kirimArsiparis').click(function (e) {
            //        cekUser(e, "5", "Bendahara", $('#kirimArsiparis'))
            //    })
            //    $('#kirimBmn').click(function (e) {
            //        cekUser(e, "5", "Bendahara", $('#kirimBmn'))
            //    })
            //    $('#inputRealisasi').click(function (e) {
            //        cekUser(e, "5", "Bendahara", $('#inputRealisasi'))
            //    })
            //    $('#inputPajak').click(function (e) {
            //        cekUser(e, "5", "Bendahara", $('#inputPajak'))
            //    })
            //}

            //if (detail.kdakun=="521811" || detail.kdakun.slice(0,3)=="532") {
            //    $("#kirimBmn").prop("hidden", false)
            //} else {$("#kirimBmn").prop("hidden", true)}

        })

        //format uang
        $('td.format-uang').autoNumeric('init', {digitGroupSeparator: ',', decimalCharacter: '.', decimalPlacesOverride: '0'});
        //format uang2 bisa pake ini
        //$('td.format-uang').each(function() {
        //    $(this).text(formatUang($(this).text()));
        //});
        //format uang dari net--------
        //let cells = Array.prototype.slice.call(document.querySelectorAll(".format-uang"));
        //console.log(cells)
        //cells.forEach(function(cell){
        //    cell.textContent = (+cell.textContent).toLocaleString('in-ID', { style: 'currency', currency: 'IDR' });
        //});

        //$('table #editTiketButton').click(function(){
        //    var id = $(this).closest('tr').attr('id')
        //})

        $('table #hapusTiketButton').click(function(){
            var id = $(this).closest('tr').attr('id')
            var notr = $(this).closest('tr').find('td:eq(2)').text()
            target_delete = $(this).closest('tr')
            target_delete.hide()
            state_undo = false
            $.toast({
                text: 'Tiket '+notr+' akan dihapus dalam 5 detik | <a id="undo_delete" href="#"><i class="fa fa-undo fa-sm"></i> Batal</a>',
                hideAfter: 5000,
                loader: false,
                stack: false,
                position: 'bottom-right',
                allowToastClose: false,
                afterHidden: function () {
                    if(!state_undo){
                        socket.emit('hapusTiket', id)
                        target_delete = null
                        generalAlert('Berhasil Terhapus')
                    }
                }
            })
            $('#undo_delete').click(function(){
                state_undo = true;
                target_delete.show();
                target_delete = null;
                $.toast().reset('all')
            })
        })

    });

    //fungsi
    function formatTanggal(date) {
        let dat = new Date(date)
        let monthNames = [
            "Januari", "Februari", "Maret",
            "April", "Mei", "Juni", "Juli",
            "Agustus", "September", "Oktober",
            "November", "Desember"
        ];
        let day = dat.getDate();
        let monthIndex = dat.getMonth();
        let year = dat.getFullYear();
        return day + ' ' + monthNames[monthIndex] + ' ' + year;
    };

    function formatUang(x) {
        if (x) {return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        } else return ''
    }

    function generalAlert(message){
        $.toast({
            text: message,
            textAlign: 'left', 
            hideAfter: 5000,
            loader: false,
            position: 'bottom-right',
            stack: 2
        })
    }

    function cekUser(e, rolea, rolen, j){
        e.preventDefault()
        if ("{{admin}}" == "1"){
            j.closest('form').submit()
        } else if ("{{role}}" != rolea) {
            generalAlert('Maaf Anda bukan '+rolen+'. Silahkan ganti akun Anda.')
        } else {
            j.closest('form').submit()
        }
    }

    function cariTiket1(){
        var input, filter, table, tr, td1, td2, td3, td4, i, txtValue1, txtValue2, txtValue3, txtValue4;
        input = document.getElementById("cariPengajuan1");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableSelesai");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[7];
            td2 = tr[i].getElementsByTagName("td")[8];
            if (td1 || td2) {
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                if (txtValue1.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else if (txtValue2.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function cariTiket2(){
        var input, filter, table, tr, td1, td2, td3, td4, i, txtValue1, txtValue2, txtValue3, txtValue4;
        input = document.getElementById("cariPengajuan2");
        filter = input.value.toUpperCase();
        table = document.getElementById("tablePengajuan");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[5];
            td3 = tr[i].getElementsByTagName("td")[6];
            if (td1 || td2 || td3) {
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtValue3 = td3.textContent || td3.innerText;
                if (txtValue1.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else if (txtValue2.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else if (txtValue3.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>