<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h1><strong>- REVIEWER -</strong></h1>
                        </div>
                        <form id="loketForm" method="POST" class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <input name="tiketId" type="hidden" value="{{data._id}}">
                                    <div class="form-group row">
                                        <label for="loketNamaUnit" class="col-md-2 col-form-label">Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketNamaUnit" id="loketNamaUnit" class="form-control" value="{{data.unit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKodeUnit" class="col-md-2 col-form-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit" class="form-control" value="{{data.kodeUnit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOperator" class="col-md-2 col-form-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator" class="form-control" value="{{data.operator}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketProgram" class="col ml-1 col-form-label">Program</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketProgram" id="loketProgram" class="form-select">
                                                <option>Pilih Program</option>
                                                {{#if data.kdprogram}}
                                                    <option value="{{data.kdprogram}}" selected>{{data.kdprogram}} {{data.uraianProgram}}</option>
                                                    {{#each program}}
                                                        <option value="{{this.kdprogram}}">{{this.kdprogram}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{else}}
                                                    {{#each program}}
                                                        <option value="{{this.kdprogram}}">{{this.kdprogram}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKegiatan" class="col ml-1 col-form-label">Kegiatan</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketKegiatan" id="loketKegiatan" class="form-select">
                                                <option>Pilih Kegiatan</option>
                                                {{#if data.kdkegiatan}}
                                                    <option value="{{data.kdkegiatan}}" selected>{{data.kdkegiatan}} {{data.uraianKegiatan}}</option>
                                                    {{#each kegiatan}}
                                                        <option value="{{this.kdgiat}}">{{this.kdgiat}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{else}}
                                                    {{#each kegiatan}}
                                                        <option value="{{this.kdgiat}}">{{this.kdgiat}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOutput" class="col ml-1 col-form-label">Output</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketOutput" id="loketOutput" class="form-select">
                                                <option>Pilih Output</option>
                                                {{#if data.kdoutput}}
                                                    <option value="{{data.kdoutput}}" selected>{{data.kdoutput}} {{data.uraianOutput}}</option>
                                                    {{#each output}}
                                                        <option value="{{this.kdoutput}}">{{this.kdoutput}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{else}}
                                                    {{#each output}}
                                                        <option value="{{this.kdoutput}}">{{this.kdoutput}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKomponen" class="col ml-1 col-form-label">Komponen</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketKomponen" id="loketKomponen" class="form-select">
                                                <option>Pilih Komponen</option>
                                                {{#if data.kdkomponen}}
                                                    <option value="{{data.kdkomponen}}" selected>{{data.kdkomponen}} {{data.uraianKomponen}}</option>
                                                    {{#each komponen}}
                                                        <option value="{{this.kdkmpnen}}">{{this.kdkmpnen}} {{this.urkmpnen}}</option>
                                                    {{/each}}
                                                {{else}}
                                                    {{#each komponen}}
                                                        <option value="{{this.kdkmpnen}}">{{this.kdkmpnen}} {{this.urkmpnen}}</option>
                                                    {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAkun" class="col ml-1 col-form-label">Akun</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketAkun" id="loketAkun" class="form-select">
                                                <option>Pilih Akun</option>
                                                {{#if data.kdakun}}
                                                    <option value="{{data.kdakun}}" selected>{{data.kdakun}} {{data.uraianAkun}}</option>
                                                    {{#each akun}}
                                                        <option value="{{this.kdakun}}">{{this.kdakun}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{else}}
                                                    {{#each akun}}
                                                        <option value="{{this.kdakun}}">{{this.kdakun}} {{this.uraian}}</option>
                                                    {{/each}}
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketTglPelaksanaan" class="col ml-1 col-form-label">Tanggal Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketTglPelaksanaan" id="loketTglPelaksanaan" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetail" class="col ml-1 col-form-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control" value="{{data.detail}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilai" class="col ml-1 col-form-label">Nilai</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control" value="{{data.nilaiPengajuan}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">Unit</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPK</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPSPM</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjUnit" name="checklistSpjUnit" id="checklistSpjUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpk" name="checklistSpjPpk" id="checklistSpjPpk"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpspm" name="checklistSpjPpspm"
                                            id="checklistSpjPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirUnit" name="checklistDaftarHadirUnit"
                                            id="checklistDaftarHadirUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpk" name="checklistDaftarHadirPpk"
                                            id="checklistDaftarHadirPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpspm" name="checklistDaftarHadirPpspm"
                                            id="checklistDaftarHadirPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiUnit" name="checklistDokumentasiUnit"
                                            id="checklistDokumentasiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpk" name="checklistDokumentasiPpk"
                                            id="checklistDokumentasiPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpspm" name="checklistDokumentasiPpspm"
                                            id="checklistDokumentasiPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiUnit" name="checklistNotulensiUnit"
                                            id="checklistNotulensiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpk" name="checklistNotulensiPpk"
                                            id="checklistNotulensiPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpspm" name="checklistNotulensiPpspm"
                                            id="checklistNotulensiPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvUnit" name="checklistCvUnit" id="checklistCvUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpk" name="checklistCvPpk" id="checklistCvPpk"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpspm" name="checklistCvPpspm" id="checklistCvPpspm"
                                            disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAdkSpj" class="col-md-2 col-form-label">ADK SPJ</label>
                                        <div class="col">
                                            <p id="loketAdkSpj">{{data.fileSpj}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketSpp" class="col-md-2 col-form-label">SPP</label>
                                        <div class="col">
                                            <input type="text" value="{{data.spp}}" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpk" class="col-md-2 col-form-label mt-1">Catatan PPK</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpk" id="loketCatatanPpk" class="form-control" disabled>{{data.catatan.ppk}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpspm" class="col-md-2 col-form-label mt-1">Catatan PPSPM</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpspm" id="loketCatatanPpspm" class="form-control" disabled>{{data.catatan.ppspm}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanReviewer" class="col-md-2 col-form-label mt-1">Catatan Reviewer</label>
                                        <div class="col">
                                            <textarea name="loketCatatanReviewer" id="loketCatatanReviewer" class="form-control" placeholder="Jika tidak ada catatan, isian ini dapat dikosongkan">{{data.catatan.reviewer}}</textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="pendingFormReviewer" type="submit" class="btn btn-danger" formaction="loket/reviewerPending">Pending</button>
                                        <button id="prosesFormReviewer" type="submit" class="btn btn-success" formaction="loket/reviewerProses">Proses</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/handsontable.full.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/locale/id.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/data.js"></script>
<script src="/js/drilldown.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/offline-exporting.js"></script>

{{!-- autofill form --}}
<script id="tglPelaksanaan" type="text/x-handlebars-template">
    {{data.tanggal.pelaksanaan}}
</script>

{{!-- main script --}}
<script type="text/javascript">
    //socket = io.connect($(location).attr('host'));
    var socket = io();

    //untuk hak akses
    //var user_aktiv = '{{username}}';

    $(document).ready(function () {
        
        //autofill form
        var t1 = new Date($("#tglPelaksanaan").html())
        var t2 = formatTanggal(t1)
        $("#loketTglPelaksanaan").val(t2)

        var spj = [{{data.checklist.spj}}]
        var hadir = [{{data.checklist.daftarHadir}}]
        var dok = [{{data.checklist.dokumentasi}}]
        var not = [{{data.checklist.notulensi}}]
        var cv = [{{data.checklist.cvNarasumber}}]
        
        if (spj[0]) $("#checklistSpjUnit").attr("checked", true)
        if (hadir[0]) $("#checklistDaftarHadirUnit").attr("checked", true)
        if (dok[0]) $("#checklistDokumentasiUnit").attr("checked", true)
        if (not[0]) $("#checklistNotulensiUnit").attr("checked", true)
        if (cv[0]) $("#checklistCvUnit").attr("checked", true)
        if (spj[1]) $("#checklistSpjPpk").attr("checked", true)
        if (hadir[1]) $("#checklistDaftarHadirPpk").attr("checked", true)
        if (dok[1]) $("#checklistDokumentasiPpk").attr("checked", true)
        if (not[1]) $("#checklistNotulensiPpk").attr("checked", true)
        if (cv[1]) $("#checklistCvPpk").attr("checked", true)
        if (spj[2]) $("#checklistSpjPpspm").attr("checked", true)
        if (hadir[2]) $("#checklistDaftarHadirPpspm").attr("checked", true)
        if (dok[2]) $("#checklistDokumentasiPpspm").attr("checked", true)
        if (not[2]) $("#checklistNotulensiPpspm").attr("checked", true)
        if (cv[2]) $("#checklistCvPpspm").attr("checked", true)

        //iterasi select pok
        $("#loketProgram").change(function(){
            if ($("#loketProgram").val()!="Pilih Program"){
                console.log($("#loketProgram").val())
                socket.emit('mintaKegiatan', $("#loketProgram").val())
            } else {
                $("#loketKegiatan").empty().append('<option selected>Pilih Kegiatan</option>')
                $("#loketOutput").empty().append('<option selected>Pilih Output</option>')
                $("#loketKomponen").empty().append('<option selected>Pilih Komponen</option>')
                $("#loketAkun").empty().append('<option selected>Pilih Akun</option>')
            }
        })

        socket.on('terimaKegiatan', function(kegiatan){
            let sama = false
            $("#loketKegiatan").empty().append('<option selected>Pilih Kegiatan</option>')
            for (let i=0; i<kegiatan.length;i++){
                $('#loketKegiatan option').each( function() {if (kegiatan[i].kdgiat == this.value) sama = true})
                if (!sama) {
                    let s = '<option value="'+kegiatan[i].kdgiat+'">'+kegiatan[i].kdgiat+' '+kegiatan[i].uraian+'</option>'
                    $("#loketKegiatan").append(s)
                }
                sama = false
            }
        })

        $("#loketKegiatan").change(function(){
            if ($("#loketKegiatan").val()!="Pilih Kegiatan"){
                console.log($("#loketKegiatan").val())
                let s = [$("#loketProgram").val(), $("#loketKegiatan").val()]
                socket.emit('mintaOutput', s)
            } else {
                $("#loketOutput").empty().append('<option selected>Pilih Output</option>')
                $("#loketKomponen").empty().append('<option selected>Pilih Komponen</option>')
                $("#loketAkun").empty().append('<option selected>Pilih Akun</option>')
            }
        })

        socket.on('terimaOutput', function(output){
            let sama = false
            $("#loketOutput").empty().append('<option selected>Pilih Output</option>')
            for (let i=0; i<output.length;i++){
                $('#loketOutput option').each( function() {if (output[i].kdoutput == this.value) sama = true})
                if (!sama) {
                    let s = '<option value="'+output[i].kdoutput+'">'+output[i].kdoutput+' '+output[i].uraian+'</option>'
                    $("#loketOutput").append(s)
                }
                sama = false
            }
        })

        $("#loketOutput").change(function(){
            if ($("#loketOutput").val()!="Pilih Output"){
                console.log($("#loketOutput").val())
                let s = [$("#loketProgram").val(), $("#loketKegiatan").val(), $("#loketOutput").val()]
                socket.emit('mintaKomponen', s)
            } else {
                $("#loketKomponen").empty().append('<option selected>Pilih Komponen</option>')
                $("#loketAkun").empty().append('<option selected>Pilih Akun</option>')
            }
        })

        socket.on('terimaKomponen', function(komponen){
            let sama = false
            $("#loketKomponen").empty().append('<option selected>Pilih Komponen</option>')
            for (let i=0; i<komponen.length;i++){
                $('#loketKomponen option').each( function() {if (komponen[i].kdkmpnen == this.value) sama = true})
                if (!sama) {
                    let s = '<option value="'+komponen[i].kdkmpnen+'">'+komponen[i].kdkmpnen+' '+komponen[i].urkmpnen+'</option>'
                    $("#loketKomponen").append(s)
                }
                sama = false
            }
        })

        $("#loketKomponen").change(function(){
            if ($("#loketKomponen").val()!="Pilih Komponen"){
                console.log($("#loketKomponen").val())
                let s = [$("#loketProgram").val(), $("#loketKegiatan").val(), $("#loketOutput").val(), $("#loketKomponen").val()]
                socket.emit('mintaAkun', s)
            } else {$("#loketAkun").empty().append('<option selected>Pilih Akun</option>')}
        })

        socket.on('terimaAkun', function(akun){
            let sama = false
            $("#loketAkun").empty().append('<option selected>Pilih Akun</option>')
            for (let i=0; i<akun.length;i++){
                $('#loketAkun option').each( function() {if (akun[i].kdakun == this.value) sama = true})
                if (!sama) {
                    let s = '<option value="'+akun[i].kdakun+'">'+akun[i].kdakun+' '+akun[i].uraian+'</option>'
                    $("#loketAkun").append(s)
                }
                sama = false
            }
        })

        $("#loketProgram").focus()

        //validasi isian
        $('#pendingFormReviewer').click(function (e) {
            let va = confirm('Anda yakin?')
            if(va) {
                if (!$("#loketCatatanReviewer").val() || $("#loketCatatanReviewer").val() == '-') {
                    alert('Catatan harus diisi ketika tiket dipending')
                    e.preventDefault()
                    $("#loketCatatanReviewer").focus()
                } else {alert("Tiket telah Dipending")}
            } else e.preventDefault()
        })
        $('#prosesFormReviewer').click(function (e) {
            if ($('#loketProgram').val()=="Pilih Program"){
                e.preventDefault()
                $('#loketProgram').focus()
            } else if ($('#loketKegiatan').val()=="Pilih Kegiatan"){
                e.preventDefault()
                $('#loketKegiatan').focus()
            } else if ($('#loketOutput').val()=="Pilih Output"){
                e.preventDefault()
                $('#loketOutput').focus()
            } else if ($('#loketKomponen').val()=="Pilih Komponen"){
                e.preventDefault()
                $('#loketKomponen').focus()
            } else if ($('#loketAkun').val()=="Pilih Akun"){
                e.preventDefault()
                $('#loketAkun').focus()
            } else {alert("Tiket telah diteruskan ke Bendahara")}
        })
    });

    function formatTanggal(date) {
        let monthNames = [
            "Januari", "Februari", "Maret",
            "April", "Mei", "Juni", "Juli",
            "Agustus", "September", "Oktober",
            "November", "Desember"
        ];
        let day = date.getDate();
        let monthIndex = date.getMonth();
        let year = date.getFullYear();
        return day + ' ' + monthNames[monthIndex] + ' ' + year;
    };

</script>