<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h1><strong>- BENDAHARA -</strong></h1>
                        </div>
                        <form id="loketForm" method="POST" class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <input name="tiketId" type="hidden" value="{{data._id}}">
                                    <div class="form-group row">
                                        <label for="loketNamaUnit" class="col-md-2 col-form-label">Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketNamaUnit" id="loketNamaUnit" class="form-control" value="{{data.unit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKodeUnit" class="col-md-2 col-form-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit" class="form-control" value="{{data.kodeUnit}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOperator" class="col-md-2 col-form-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator" class="form-control" value="{{data.operator}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketProgram" class="col ml-1 col-form-label">Program</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketProgram" id="loketProgram" class="form-select">
                                                {{#if data.kdprogram}}
                                                    <option value="{{data.kdprogram}}" selected>{{data.kdprogram}} {{data.uraianProgram}}</option>
                                                {{else}}
                                                    <option>Pilih Program</option>
                                                {{/if}}
                                                {{#each program}}
                                                    <option value="{{this.kdprogram}}">{{this.kdprogram}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKegiatan" class="col ml-1 col-form-label">Aktivitas</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketKegiatan" id="loketKegiatan" class="form-select">
                                                {{#if data.kdkegiatan}}
                                                    <option value="{{data.kdkegiatan}}" selected>{{data.kdkegiatan}} {{data.uraianKegiatan}}</option>
                                                {{else}}
                                                    <option>Pilih Aktivitas</option>
                                                {{/if}}
                                                {{#each kegiatan}}
                                                    <option value="{{this.kdgiat}}">{{this.kdgiat}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOutput" class="col ml-1 col-form-label">KRO</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketOutput" id="loketOutput" class="form-select">
                                                {{#if data.kdoutput}}
                                                    <option value="{{data.kdoutput}}" selected>{{data.kdoutput}} {{data.uraianOutput}}</option>
                                                {{else}}
                                                    <option>Pilih KRO</option>
                                                {{/if}}
                                                {{#each output}}
                                                    <option value="{{this.kdoutput}}">{{this.kdoutput}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKomponen" class="col ml-1 col-form-label">Komponen</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketKomponen" id="loketKomponen" class="form-select">
                                                {{#if data.kdkomponen}}
                                                    <option value="{{data.kdkomponen}}" selected>{{data.kdkomponen}} {{data.uraianKomponen}}</option>
                                                {{else}}
                                                    <option>Pilih Komponen</option>
                                                {{/if}}
                                                {{#each komponen}}
                                                    <option value="{{this.kdkmpnen}}">{{this.kdkmpnen}} {{this.urkmpnen}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAkun" class="col ml-1 col-form-label">Akun</label>
                                        <div class="col-md-10 input-group">
                                            <select name="loketAkun" id="loketAkun" class="form-select">
                                                {{#if data.kdakun}}
                                                    <option value="{{data.kdakun}}" selected>{{data.kdakun}} {{data.uraianAkun}}</option>
                                                {{else}}
                                                    <option>Pilih Akun</option>
                                                {{/if}}
                                                {{#each akun}}
                                                    <option value="{{this.kdakun}}">{{this.kdakun}} {{this.uraian}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetailPok" class="col ml-1 col-form-label">Detail POK</label>
                                        <div class="col-md-10">
                                            <select name="loketDetailPok" id="loketDetailPok" class="form-select">
                                                {{#if data.uraianDetail}}
                                                    <option value="{{data.uraianDetail}}" selected>{{data.uraianDetail}}</option>
                                                {{else}}
                                                    <option>Pilih Detail</option>
                                                {{/if}}
                                                {{#each detail}}
                                                    <option value="{{this.nmitem}}">{{this.nmitem}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10" id="pokWarning"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketTglPelaksanaan" class="col ml-1 col-form-label">Tanggal Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketTglPelaksanaan" id="loketTglPelaksanaan" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetail" class="col ml-1 col-form-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control" value="{{data.detail}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilai" class="col ml-1 col-form-label">Nilai Bruto</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control" value="{{data.nilaiPengajuan}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">Unit</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPK</label>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">PPSPM</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjUnit" name="checklistSpjUnit" id="checklistSpjUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpk" name="checklistSpjPpk" id="checklistSpjPpk"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjPpspm" name="checklistSpjPpspm"
                                            id="checklistSpjPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirUnit" name="checklistDaftarHadirUnit"
                                            id="checklistDaftarHadirUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpk" name="checklistDaftarHadirPpk"
                                            id="checklistDaftarHadirPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirPpspm" name="checklistDaftarHadirPpspm"
                                            id="checklistDaftarHadirPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiUnit" name="checklistDokumentasiUnit"
                                            id="checklistDokumentasiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpk" name="checklistDokumentasiPpk"
                                            id="checklistDokumentasiPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiPpspm" name="checklistDokumentasiPpspm"
                                            id="checklistDokumentasiPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiUnit" name="checklistNotulensiUnit"
                                            id="checklistNotulensiUnit" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpk" name="checklistNotulensiPpk"
                                            id="checklistNotulensiPpk" disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiPpspm" name="checklistNotulensiPpspm"
                                            id="checklistNotulensiPpspm" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvUnit" name="checklistCvUnit" id="checklistCvUnit"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpk" name="checklistCvPpk" id="checklistCvPpk"
                                            disabled>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvPpspm" name="checklistCvPpspm" id="checklistCvPpspm"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="loketAdkSpj" class="col-md-2 col-form-label">ADK SPJ</label>
                                        <div class="col">
                                            <p id="loketAdkSpj">{{data.fileSpj}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketSpp" class="col-md-2 col-form-label">SPP</label>
                                        <div class="col">
                                            <select name="loketSpp" id="loketSpp" class="form-select">
                                                {{#if_eq data.spp 'Sudah'}}
                                                    <option></option>
                                                    <option value="Belum">Belum</option>
                                                    <option value="Sudah" selected>Sudah</option>
                                                {{else}}
                                                    {{#if_eq data.spp 'Belum'}}
                                                        <option></option>
                                                        <option value="Belum" selected>Belum</option>
                                                        <option value="Sudah">Sudah</option>
                                                    {{/if_eq}}
                                                {{/if_eq}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpk" class="col-md-2 col-form-label mt-1">Catatan PPK</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpk" id="loketCatatanPpk" class="form-control" disabled>{{data.catatan.ppk}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanPpspm" class="col-md-2 col-form-label mt-1">Catatan PPSPM</label>
                                        <div class="col">
                                            <textarea name="loketCatatanPpspm" id="loketCatatanPpspm" class="form-control" disabled>{{data.catatan.ppspm}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketCatatanReviewer" class="col-md-2 col-form-label mt-1">Catatan Reviewer</label>
                                        <div class="col">
                                            <textarea name="loketCatatanReviewer" id="loketCatatanReviewer" class="form-control" disabled>{{data.catatan.reviewer}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketMetodeTransfer" class="col-md-2 col-form-label">Metode Transfer</label>
                                        <div class="col">
                                            <select name="loketMetodeTransfer" id="loketMetodeTransfer" class="form-select">
                                                <option></option>
                                                <option value="Cash">Cash</option>
                                                <option value="Transfer Manual">Transfer Manual</option>
                                                <option value="CMS">CMS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilaiPajak" class="col ml-1 col-form-label">Nilai Pajak</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilaiPajak" id="loketNilaiPajak" class="form-control" placeholder="Contoh: 100000" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilaiTransfer" class="col ml-1 col-form-label">Nilai Transfer</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilaiTransfer" id="loketNilaiTransfer" class="form-control" placeholder="Contoh: 900000" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer" id="mainfooter">
                                        <button id="prosesFormBendahara" type="submit" class="btn btn-success">Proses</button>
                                        <button id="kirimFormBendaharaArsiparis" type="submit" class="btn btn-primary">Kirim<br><small>(Arsiparis)</small></button>
                                        <button id="kirimFormBendaharaOperatorBmn" type="submit" class="btn btn-primary">Kirim<br><small>(Operator BMN)</small></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="loketInputRealisasi" class="btn btn-primary" type="submit" formaction="loket/bendaharaInputRealisasi">Input Realisasi</button>
                                        <button id="loektInputPajak" class="btn btn-primary" type="submit" formaction="loket/bendaharaInputPajak">Input Pajak</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{!-- <div class="modal-footer col-6">
                            <a id="toDashboard" class="btn btn-primary" href="loket/dashboard">Kembali ke<br>Dashboard</a>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- iterasi select pok --}}
<script src="/js/LoketFormPok.js"></script>

{{!-- main script --}}
<script type="text/javascript">
    //socket = io.connect($(location).attr('host'));

    //untuk hak akses
    //var user_aktiv = '{{username}}';

    $(document).ready(function () {

        //autofill form
        var t1 = new Date("{{data.tanggal.pelaksanaan}}")
        var t2 = formatTanggal(t1)
        $("#loketTglPelaksanaan").val(t2)

        var spj = [{{data.checklist.spj}}]
        var hadir = [{{data.checklist.daftarHadir}}]
        var dok = [{{data.checklist.dokumentasi}}]
        var not = [{{data.checklist.notulensi}}]
        var cv = [{{data.checklist.cvNarasumber}}]
        
        if (spj[0]) $("#checklistSpjUnit").attr("checked", true)
        if (hadir[0]) $("#checklistDaftarHadirUnit").attr("checked", true)
        if (dok[0]) $("#checklistDokumentasiUnit").attr("checked", true)
        if (not[0]) $("#checklistNotulensiUnit").attr("checked", true)
        if (cv[0]) $("#checklistCvUnit").attr("checked", true)
        if (spj[1]) $("#checklistSpjPpk").attr("checked", true)
        if (hadir[1]) $("#checklistDaftarHadirPpk").attr("checked", true)
        if (dok[1]) $("#checklistDokumentasiPpk").attr("checked", true)
        if (not[1]) $("#checklistNotulensiPpk").attr("checked", true)
        if (cv[1]) $("#checklistCvPpk").attr("checked", true)
        if (spj[2]) $("#checklistSpjPpspm").attr("checked", true)
        if (hadir[2]) $("#checklistDaftarHadirPpspm").attr("checked", true)
        if (dok[2]) $("#checklistDokumentasiPpspm").attr("checked", true)
        if (not[2]) $("#checklistNotulensiPpspm").attr("checked", true)
        if (cv[2]) $("#checklistCvPpspm").attr("checked", true)

        $("#loketProgram").focus()

        if ($("#loketSpp").val()=='Belum'){
            $("#loketMetodeTransfer").attr("disabled", true)
            $("#loketNilaiPajak").attr("disabled", true)
            $("#loketNilaiTransfer").attr("disabled", true)
        } else if ($("#loketSpp").val()=='Sudah'){
            $("#loketSpp").attr("disabled", true)
        }

        if ($("#loketAkun").val()=="521811" || $("#loketAkun").val().slice(0,3)=="532") {
            $("#kirimFormBendaharaOperatorBmn").prop("hidden", false)
        } else {$("#kirimFormBendaharaOperatorBmn").prop("hidden", true)}

        $("#loketAkun").change(function(){
            if ($("#loketAkun").val()=="521811" || $("#loketAkun").val().slice(0,3)=="532") {
                $("#kirimFormBendaharaOperatorBmn").prop("hidden", false)
            } else {$("#kirimFormBendaharaOperatorBmn").prop("hidden", true)}
            
        })
        
        //validasi isian form
        $('#prosesFormBendahara').click(function (e) {
            e.preventDefault()
            if ($('#loketProgram').val()=="Pilih Program"){
                generalAlert("Silahkan pilih program")
                $('#loketProgram').focus()
            } else if ($('#loketKegiatan').val()=="Pilih Kegiatan"){
                generalAlert("Silahkan pilih kegiatan")
                $('#loketKegiatan').focus()
            } else if ($('#loketOutput').val()=="Pilih Output"){
                generalAlert("Silahkan pilih output")
                $('#loketOutput').focus()
            } else if ($('#loketKomponen').val()=="Pilih Komponen"){
                generalAlert("Silahkan pilih komponen")
                $('#loketKomponen').focus()
            } else if ($('#loketAkun').val()=="Pilih Akun"){
                generalAlert("Silahkan pilih akun")
                $('#loketAkun').focus()
            } else if ($('#loketDetailPok').val()=="Pilih Detail"){
                generalAlert("Silahkan pilih detail")
                $('#loketDetailPok').focus()
            } else if($("#loketSpp").prop("disabled")==false && $("#loketSpp").val()=='Belum'){
                generalAlert("Mohon ubah pilihan SPP menjadi 'Sudah'")
                $("#loketSpp").focus()
            } else if($("#loketSpp").prop("disabled")==false && $("#loketSpp").val()=='Sudah'){
                $("form").attr('action', 'loket/reviewerPending')
                generalAlert("Tiket telah diteruskan ke PPSPM <br> Redirect ke dashboard dalam 5 detik")
                setTimeout( function () { 
                    $("form").submit()
                }, 5000)
            } else if (!$("#loketMetodeTransfer").val()){
                generalAlert("Silahkan pilih metode transfer")
                $("#loketMetodeTransfer").focus()
            } else if (!$("#loketNilaiPajak").val()) {
                generalAlert("Nilai pajak tidak boleh kosong")
                $("#loketNilaiPajak").focus()
            } else if (!$("#loketNilaiTransfer").val()) {
                generalAlert("Nilai transfer tidak boleh kosong")
                $("#loketNilaiTransfer").focus()
            } else {
                $("form").attr('action', 'loket/bendaharaProses')
                generalAlert("Tiket telah diteruskan ke Operator Bank")
                $("form").submit()
            }
        })

        $('#kirimFormBendaharaArsiparis').click(function (e) {
            e.preventDefault()
            $("form").attr('action', 'loket/bendaharaKirimArsiparis')
            if ($('#loketProgram').val()=="Pilih Program"){
                generalAlert("Silahkan pilih program")
                $('#loketProgram').focus()
            } else if ($('#loketKegiatan').val()=="Pilih Kegiatan"){
                generalAlert("Silahkan pilih kegiatan")
                $('#loketKegiatan').focus()
            } else if ($('#loketOutput').val()=="Pilih Output"){
                generalAlert("Silahkan pilih output")
                $('#loketOutput').focus()
            } else if ($('#loketKomponen').val()=="Pilih Komponen"){
                generalAlert("Silahkan pilih komponen")
                $('#loketKomponen').focus()
            } else if ($('#loketAkun').val()=="Pilih Akun"){
                generalAlert("Silahkan pilih akun")
                $('#loketAkun').focus()
            } else if ($('#loketDetailPok').val()=="Pilih Detail"){
                generalAlert("Silahkan pilih detail")
            } else if (!$("#loketMetodeTransfer").val()){
                generalAlert("Silahkan pilih metode transfer")
                $("#loketMetodeTransfer").focus()
            } else if (!$("#loketNilaiPajak").val()) {
                generalAlert("Nilai pajak tidak boleh kosong")
                $("#loketNilaiPajak").focus()
            } else if (!$("#loketNilaiTransfer").val()) {
                generalAlert("Nilai transfer tidak boleh kosong")
                $("#loketNilaiTransfer").focus()
            } else {
                generalAlert("Tiket telah diteruskan ke Arsiparis")
                $("form").submit()
            }
        })

        $('#kirimFormBendaharaOperatorBmn').click(function (e) {
            e.preventDefault()
            $("form").attr('action', 'loket/bendaharaKirimBmn')
            if ($('#loketProgram').val()=="Pilih Program"){
                generalAlert("Silahkan pilih program")
                $('#loketProgram').focus()
            } else if ($('#loketKegiatan').val()=="Pilih Kegiatan"){
                generalAlert("Silahkan pilih kegiatan")
                $('#loketKegiatan').focus()
            } else if ($('#loketOutput').val()=="Pilih Output"){
                generalAlert("Silahkan pilih output")
                $('#loketOutput').focus()
            } else if ($('#loketKomponen').val()=="Pilih Komponen"){
                generalAlert("Silahkan pilih komponen")
                $('#loketKomponen').focus()
            } else if ($('#loketAkun').val()=="Pilih Akun"){
                generalAlert("Silahkan pilih akun")
                $('#loketAkun').focus()
            } else if ($('#loketDetailPok').val()=="Pilih Detail"){
                generalAlert("Silahkan pilih detail")
            } else if (!$("#loketMetodeTransfer").val()){
                generalAlert("Silahkan pilih metode transfer")
                $("#loketMetodeTransfer").focus()
            } else if (!$("#loketNilaiPajak").val()) {
                generalAlert("Nilai pajak tidak boleh kosong")
                $("#loketNilaiPajak").focus()
            } else if (!$("#loketNilaiTransfer").val()) {
                generalAlert("Nilai transfer tidak boleh kosong")
                $("#loketNilaiTransfer").focus()
            } else {
                generalAlert("Tiket telah diteruskan ke Operator BMN")
                $("form").submit()
            }
        })

        //$("#toDashboard").hide()
        //$("button").click(function(){
        //    $("#toDashboard").show()
        //})

    });

</script>