<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h1><strong>- UNIT -</strong></h1>
                        </div>
                        <form id="loketForm" method="POST" action="loket/unitKirim" class="modal-body" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-6">
                                    <input name="tiketId" type="hidden" value="{{data._id}}">
                                    <div class="form-group row">
                                        <label for="loketNamaUnit" class="col-md-2 col-form-label">Unit</label>
                                        <div class="col">
                                            <select name="loketNamaUnit" id="loketNamaUnit" class="form-control" required>
                                                {{#if data}}
                                                    <option value="{{data.unit}}">{{data.unit}}</option>
                                                {{/if}}
                                                <option>Pilih Unit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKodeUnit" class="col-md-2 col-form-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit" class="form-control" placeholder="Terisi otomatis" required value="{{data.kodeUnit}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOperator" class="col-md-2 col-form-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator" placeholder="Nama Petugas" class="form-control" value="{{data.operator}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketProgram" class="col ml-1 col-form-label">Program</label>
                                        <div class="col-md-10">
                                            <select name="loketProgram" id="loketProgram" class="form-select" disabled>
                                                <option>Pilih Program</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKegiatan" class="col ml-1 col-form-label">Aktivitas</label>
                                        <div class="col-md-10">
                                            <select name="loketKegiatan" id="loketKegiatan" class="form-select" disabled>
                                                <option>Pilih Aktivitas</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOutput" class="col ml-1 col-form-label">KRO</label>
                                        <div class="col-md-10">
                                            <select name="loketOutput" id="loketOutput" class="form-select" disabled>
                                                <option>Pilih KRO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKomponen" class="col ml-1 col-form-label">Komponen</label>
                                        <div class="col-md-10">
                                            <select name="loketKomponen" id="loketKomponen" class="form-select" disabled>
                                                <option>Pilih Komponen</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAkun" class="col ml-1 col-form-label">Akun</label>
                                        <div class="col-md-10">
                                            <select name="loketAkun" id="loketAkun" class="form-select" disabled>
                                                <option>Pilih Akun</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetailPok" class="col ml-1 col-form-label">Detail POK</label>
                                        <div class="col-md-10">
                                            <select name="loketDetailPok" id="loketDetailPok" class="form-select" disabled>
                                                <option>Pilih Detail</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="loketTglPelaksanaan" class="col ml-1 col-form-label">Tanggal Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="date" name="loketTglPelaksanaan" id="loketTglPelaksanaan" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetail" class="col ml-1 col-form-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control" placeholder="Isikan sesuai dengan SPJ" required value="{{data.detail}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilai" class="col ml-1 col-form-label">Nilai Bruto</label>
                                        <label class="ml-2 col-form-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control" placeholder="Contoh: 1000000" required value="{{data.nilaiPengajuan}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 col-form-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-1 col-form-label" style="text-align:center">Unit</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjUnit" name="checklistSpjUnit" id="checklistSpjUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirUnit" name="checklistDaftarHadirUnit"
                                            id="checklistDaftarHadirUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiUnit" name="checklistDokumentasiUnit"
                                            id="checklistDokumentasiUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiUnit" name="checklistNotulensiUnit"
                                            id="checklistNotulensiUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvUnit" name="checklistCvUnit" id="checklistCvUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label for="fileSpjUnit" class="col-form-label">Unggah SPJ</label><br>
                                            <p>(.xls .xlsx)</p>
                                        </div>
                                        <div class="col input-group">
                                            <input type="file" class="form-control" name="fileSpjUnit" id="fileSpjUnit" aria-label="fileSpjUnit" accept=".xlsx,.xls" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="resetFormUnit" type="reset" class="btn btn-warning">Reset</button>
                                        <button id="kirimFormUnit" type="submit" class="btn btn-success">Kirim</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var socket = io.connect($(location).attr('host'));
    //var socket = io()

    //untuk hak akses
    //var user_aktiv = '{{username}}';

    $(document).ready(function () {
        //autofill date
        var t1 = new Date("{{data.tanggal.pelaksanaan}}")
        var t2 = vtgl(t1)
        $('#loketTglPelaksanaan').val(t2)

        //autofill checklist
        var spj = [{{data.checklist.spj}}]
        var hadir = [{{data.checklist.daftarHadir}}]
        var dok = [{{data.checklist.dokumentasi}}]
        var not = [{{data.checklist.notulensi}}]
        var cv = [{{data.checklist.cvNarasumber}}]
        
        if (spj[0]) $('#checklistSpjUnit').attr("checked", true)
        if (hadir[0]) $('#checklistDaftarHadirUnit').attr("checked", true)
        if (dok[0]) $('#checklistDokumentasiUnit').attr("checked", true)
        if (not[0]) $('#checklistNotulensiUnit').attr("checked", true)
        if (cv[0]) $('#checklistCvUnit').attr("checked", true)

        switch ("{{unit}}"){
            case "BAU":
                $('#loketNamaUnit').append(
                    '<option value="BAU">BAU</option>'+
                    '<option value="BAU-Kepegawaian">- Kepegawaian</option>'+
                    '<option value="BAU-TU RT">- TU RT</option>'+
                    '<option value="BAU-Keuangan">- Keuangan</option>'
                )
                break
            case "BAAK":
                $('#loketNamaUnit').append(
                    '<option value="BAAK">BAAK</option>'+
                    '<option value="BAAK-Akademik">- Akademik</option>'+
                    '<option value="BAAK-Kemahasiswaan">- Kemahasiswaan</option>'
                )
                break
            case "PRODI":
                $('#loketNamaUnit').append(
                    '<option value="PRODI">PRODI</option>'+
                    '<option value="PRODI-D4 Statistika">- D4 Statistika</option>'+
                    '<option value="PRODI-D4 Komputasi">- D4 Komputasi</option>'+
                    '<option value="PRODI-D3 Statistika">- D3 Statistika</option>'
                )
                break
            case "UPPPM":
                $('#loketNamaUnit').append('<option value="UPPPM">UPPPM</option>')
                break
            case "SPM":
                $('#loketNamaUnit').append('<option value="SPM">SPM</option>')
                break
            case "Perpustakaan":
                $('#loketNamaUnit').append('<option value="Perpustakaan">Perpustakaan</option>')
                break
            case "IT":
                $('#loketNamaUnit').append('<option value="IT">IT</option>')
                break
            case "Lainnya":
                $('#loketNamaUnit').append('<option value="Lainnya">Lainnya</option>')
                break
        }

        $('#loketNamaUnit').focus()
        $('#loketNamaUnit').change(function(){
            switch ($('#loketNamaUnit').val()){
                case "BAU":
                    $('#loketKodeUnit').val("1")
                    break
                case "BAU-Kepegawaian":
                    $('#loketKodeUnit').val("11")
                    break
                case "BAU-TU RT":
                    $('#loketKodeUnit').val("12")
                    break
                case "BAU-Keuangan":
                    $('#loketKodeUnit').val("13")
                    break
                case "BAAK":
                    $('#loketKodeUnit').val("2")
                    break
                case "BAAK-Akademik":
                    $('#loketKodeUnit').val("21")
                    break
                case "BAAK-Kemahasiswaan":
                    $('#loketKodeUnit').val("22")
                    break
                case "PRODI":
                    $('#loketKodeUnit').val("3")
                    break
                case "PRODI-D4 Statistika":
                    $('#loketKodeUnit').val("31")
                    break
                case "PRODI-D4 Komputasi":
                    $('#loketKodeUnit').val("32")
                    break
                case "PRODI-D3 Statistika":
                    $('#loketKodeUnit').val("33")
                    break
                case "UPPPM":
                    $('#loketKodeUnit').val("4")
                    break
                case "SPM":
                    $('#loketKodeUnit').val("5")
                    break
                case "Perpustakaan":
                    $('#loketKodeUnit').val("6")
                    break
                case "IT":
                    $('#loketKodeUnit').val("7")
                    break
                case "Lainnya":
                    $('#loketKodeUnit').val("8")
                    break
                default:
                    $('#loketKodeUnit').val("")
            }
        })

        //validasi isian yang tidak bolek kosong
        $('#kirimFormUnit').click(function (e) {
            e.preventDefault()
            if ($('#loketNamaUnit').val()=="Pilih Unit") {
                generalAlert("Silahkan pilih unit")
                $('#loketNamaUnit').focus()
            } else if (!$('#loketKodeUnit').val()){
                generalAlert("Silahkan ulangi memilih unit dari 'Pilih Unit' ")
                $('#loketKodeUnit').focus()
            } else if (!$('#loketOperator').val()){
                generalAlert("Silahkan isi nama petugas yang mengajukan")
                $('#loketOperator').focus()
            } else if (!$('#loketTglPelaksanaan').val()){
                generalAlert("Silahkan pilih tanggal pelaksanaan")
                $('#loketTglPelaksanaan').focus()
            } else if (!$('#loketDetail').val()){
                generalAlert("Silahkan isi detail spj yang akan diajukan")
                $('#loketDetail').focus()
            } else if (!$('#loketNilai').val()){
                generalAlert("Silahkan isi nilai bruto pengajuan")
                $('#loketNilai').focus()
            } else if (!$('#fileSpjUnit').val()){
                generalAlert("Silahkan unggah SPJ yang sesuai")
                $('#fileSpjUnit').focus()
            } else {
                generalAlert("Tiket akan diteruskan ke Verifikator dan Redirect ke dashboard dalam 5 detik")
                //generalAlert("")
                setTimeout( function () { 
                    $('form').submit()
                }, 5000)
            }
        })

    });

    function vtgl(tgl){
        let y = tgl.getFullYear()
        let m = tgl.getMonth() + 1
        let d = tgl.getDate()
        if (m<10) m = '0'+m
        if (d<10) d = '0'+d
        return `${y}-${m}-${d}`
    }

    function generalAlert(message){
        $.toast({
            text: message,
            textAlign: 'left', 
            hideAfter: 5000,
            loader: false,
            position: 'bottom-right',
            stack: 2
        })
    }

</script>
